<mat-card *ngIf="appUser">
  <mat-card-content class="text-center">
    <mat-card-title color="gray">Author</mat-card-title>
    <img mat-card-avatar src={{appUser.photoURL}}>
    <mat-card-title style="margin-top:5px;">{{appUser.name}}</mat-card-title>
    <mat-divider></mat-divider>
    <a *ngIf="appUser.facebookURL" href={{appUser.facebookURL}} target="_blank"><i class="faIcon fa fa-facebook-square"
        aria-hidden="true"></i></a>
    <a *ngIf="appUser.twitterURL" href={{appUser.twitterURL}} target="_blank"><i class="faIcon fa fa-twitter-square"
        aria-hidden="true"></i></a>
    <a *ngIf="appUser.linkedInURL" href={{appUser.linkedInURL}} target="_blank"><i class="faIcon fa fa-linkedin-square"
        aria-hidden="true"></i></a>
    <a *ngIf="appUser.githubURL" href={{appUser.githubURL}} target="_blank"><i class="faIcon fa fa-github-square"
        aria-hidden="true"></i></a>
  </mat-card-content>
</mat-card>
