.blog-card {
  margin-bottom: 30px;
}

.blog-title {
  text-decoration: none;
  color: black;
}

a:hover {
  // color: indianred;
  color: #3f51b5;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
