<mat-card *ngIf="postData" class="blog-card mat-elevation-z2">
  <mat-card-content>
    <mat-card-title>{{postData.title}}</mat-card-title>
  </mat-card-content>
  <mat-card-subtitle class="blog-info">
    <i class="fa fa-user postDataAction" aria-hidden="true"></i>&nbsp;
    <span class="postDataActionTitle"
      [routerLink]="['/author/view/', postData.authorId, postData.author]">{{postData.author}}</span>
    &nbsp;&nbsp;
    <i class="fa fa-calendar postDataAction" aria-hidden="true">
      &nbsp;{{postData.createdAt | date:'longDate'}}</i>
    &nbsp;&nbsp;
    <i *ngIf="action" class="fa fa-edit postDataAction" aria-hidden="true"></i>&nbsp;
    <span *ngIf="action" class="postDataActionTitle"
      [routerLink]="['/blog/edit/', postId, postData.title | slug]">Edit</span>
    &nbsp;&nbsp;
    <i *ngIf="action" class="fa fa-trash postDataAction" aria-hidden="true"></i>&nbsp;
    <span *ngIf="action" class="postDataActionTitle" (click)="delete(postId)">Delete</span>
    &nbsp;&nbsp;
  </mat-card-subtitle>
  <mat-card-content>
    <div [innerHTML]="postData.content | safeHtml"></div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <mat-icon *ngIf="!dislike" class="socialAction" (click)="dislike=true">
      favorite
    </mat-icon>
    <mat-icon *ngIf="dislike" class="socialAction" (click)="dislike=false">
      favorite_border
    </mat-icon>
    <mat-icon class="socialAction">share</mat-icon>
    <mat-icon class="socialAction" [matBadge]="commentCnt" matBadgeColor="accent">comment
    </mat-icon>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" style="border-radius:20px" (click)="replyDialogue()">Leave A
      Reply</button>
  </mat-card-actions>
</mat-card>

<app-comments [blogId]="postId" [isAdmin]="action" (commentCnt)="CommentCount($event)"></app-comments>
