<mat-card *ngIf="postData" class="blog-card mat-elevation-z2">
  <mat-card-content>
    <mat-card-title>{{postData.title}}</mat-card-title>
  </mat-card-content>
  <mat-card-subtitle class="blog-info">
    <i class="fa fa-user postDataAction" aria-hidden="true"> {{postData.author}}</i>
    &nbsp;&nbsp;
    <i class="fa fa-calendar postDataAction" aria-hidden="true">
      {{postData.createdAt | date:'longDate'}}
    </i>
    &nbsp;&nbsp;
    <i *ngIf="appUser" [routerLink]="['/blog/edit/', postId, postData.title | slug]" class="fa fa-edit postDataAction"
      aria-hidden="true"> Edit </i>
    &nbsp;&nbsp;
    <i *ngIf="appUser" class="fa fa-trash postDataAction" aria-hidden="true" (click)="delete(postId)">
      Delete </i> &nbsp;&nbsp;
  </mat-card-subtitle>
  <mat-card-content>
    <div [innerHTML]="postData.content"></div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions align="end">
    <mat-icon *ngIf="!dislike" class="socialAction" (click)="dislike=true">
      favorite
    </mat-icon>
    <mat-icon *ngIf="dislike" class="socialAction" (click)="dislike=false">
      favorite_border
    </mat-icon>
    <mat-icon class="socialAction">share</mat-icon>
    <mat-icon class="socialAction">comment</mat-icon>
    <span class="spacer"></span>
  </mat-card-actions>
</mat-card>
