<mat-card>
  <mat-card-header>
    <mat-card-title><b>{{mode | titlecase}} Post</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="col-md-6 col-sm-12" appearance="outline">
      <mat-label class="title">Title</mat-label>
      <input [(ngModel)]="postData.title" matInput placeholder="Enter Title" autocomplete="off" required>
      <mat-error>Title is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-md-2 col-sm-4 col-xs-4" appearance="outline">
      <mat-label class="title">Category</mat-label>
      <input type="text" placeholder="Select Category" aria-label="Category" matInput [(ngModel)]="postData.category"
        [matAutocomplete]="auto2" (keyup)="displayFn($event)" required>
      <mat-error>Category is required</mat-error>
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option *ngFor="let option of filterCategoryList" [value]="option">
          {{ option|titlecase }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="col-md-4 col-sm-8 col-xs-8" appearance="outline">
      <mat-label class="title">Time</mat-label>
      <input disabled matInput [(ngModel)]="postData.createdAt">
    </mat-form-field>
    <!-- <mat-form-field class="col-12">
      <mat-label class="subtitle">Post </mat-label>
      <textarea matInput placeholder="Write Post Here..."></textarea>
    </mat-form-field> -->
    <ckeditor [(ngModel)]="postData.content" [config]="config" debounce="500"></ckeditor>
  </mat-card-content>
  <mat-card-actions class="text-right">
    <button mat-raised-button color="warn" [routerLink]='["/"]'>Cancel </button>
    <button *ngIf="mode==='add'" mat-raised-button color="primary" cdkFocusInitial (click)="addBlog()">Add</button>
    <button *ngIf="mode==='update'" mat-raised-button color="primary" cdkFocusInitial
      (click)="updateBlog()">Update</button>
  </mat-card-actions>
</mat-card>
