<mat-toolbar color="primary" class="mat-elevation-z24" style="position: fixed;z-index:99;top:0px;">
  <mat-toolbar-row>
    <mat-label>Blogging Site</mat-label>
    <span class="spacer"></span>
    <button style="border-radius: 20px;margin-left:2px;margin-right:2px;" mat-raised-button (click)="AddPostDialogue()"
      color="accent" type="button"> Add Post</button>
    <button style="border-radius: 20px;margin-left:2px;margin-right:2px;" mat-raised-button (click)="AddPostDialogue()"
      color="accent" type="button"> Sign In</button>
  </mat-toolbar-row>
</mat-toolbar>
<span style="margin-top: 60px;overflow-y:scroll;position: absolute;height:90%;" class="col-12">
  <p>

    About
    Ever needed custom formatted sample / test data, like, bad? Well, that's the idea of this script. It's a free, open
    source tool written in JavaScript, PHP and MySQL that lets you quickly generate large volumes of custom data in a
    variety of formats for use in testing software, populating databases, and... so on and so forth.

    This site offers an online demo where you're welcome to tinker around to get a sense of what the script does, what
    features it offers and how it works. Then, once you've whet your appetite, there's a free, fully functional,
    GNU-licensed version available for download. Alternatively, if you want to avoid the hassle of setting it up on your
    own server, you can donate $20 or more to get an account on this site, letting you generate up to 5,000 records at a
    time (instead of the maximum 100), and let you save your data sets. Click on the Donate tab for more information.

    Extend it
    The out-the-box script contains the sort of functionality you generally need. But nothing's ever complete - maybe
    you
    need to generate random esoteric math equations, pull random tweets or display random images from Flickr with the
    word
    "Red-backed vole" in the title. Who knows. Everyone's use-case is different.

    With this in mind, the new version of the script (3.0.0+) was designed to be fully extensible: developers can write
    their own Data Types to generate new types of random data, and even customize the Export Types - i.e. the format in
    which the data is output. For people interested in generating more accurate localized geographical data, they can
    add
    new Country plugins that supply region names (states, provinces, territories etc), city names and postal/zip code
    formats for their country of choice. For more information on all this, visit the Developer Documentation.

    Download
    Click the button below to download the latest version of the script from github. For more information see the User
    Documentation.
  </p>
  <p>
    About
    Ever needed custom formatted sample / test data, like, bad? Well, that's the idea of this script. It's a free, open
    source tool written in JavaScript, PHP and MySQL that lets you quickly generate large volumes of custom data in a
    variety of formats for use in testing software, populating databases, and... so on and so forth.

    This site offers an online demo where you're welcome to tinker around to get a sense of what the script does, what
    features it offers and how it works. Then, once you've whet your appetite, there's a free, fully functional,
    GNU-licensed version available for download. Alternatively, if you want to avoid the hassle of setting it up on your
    own server, you can donate $20 or more to get an account on this site, letting you generate up to 5,000 records at a
    time (instead of the maximum 100), and let you save your data sets. Click on the Donate tab for more information.

    Extend it
    The out-the-box script contains the sort of functionality you generally need. But nothing's ever complete - maybe
    you
    need to generate random esoteric math equations, pull random tweets or display random images from Flickr with the
    word
    "Red-backed vole" in the title. Who knows. Everyone's use-case is different.

    With this in mind, the new version of the script (3.0.0+) was designed to be fully extensible: developers can write
    their own Data Types to generate new types of random data, and even customize the Export Types - i.e. the format in
    which the data is output. For people interested in generating more accurate localized geographical data, they can
    add
    new Country plugins that supply region names (states, provinces, territories etc), city names and postal/zip code
    formats for their country of choice. For more information on all this, visit the Developer Documentation.

    Download
    Click the button below to download the latest version of the script from github. For more information see the User
    Documentation.
  </p>
  <p>
    About
    Ever needed custom formatted sample / test data, like, bad? Well, that's the idea of this script. It's a free, open
    source tool written in JavaScript, PHP and MySQL that lets you quickly generate large volumes of custom data in a
    variety of formats for use in testing software, populating databases, and... so on and so forth.

    This site offers an online demo where you're welcome to tinker around to get a sense of what the script does, what
    features it offers and how it works. Then, once you've whet your appetite, there's a free, fully functional,
    GNU-licensed version available for download. Alternatively, if you want to avoid the hassle of setting it up on your
    own server, you can donate $20 or more to get an account on this site, letting you generate up to 5,000 records at a
    time (instead of the maximum 100), and let you save your data sets. Click on the Donate tab for more information.

    Extend it
    The out-the-box script contains the sort of functionality you generally need. But nothing's ever complete - maybe
    you
    need to generate random esoteric math equations, pull random tweets or display random images from Flickr with the
    word
    "Red-backed vole" in the title. Who knows. Everyone's use-case is different.

    With this in mind, the new version of the script (3.0.0+) was designed to be fully extensible: developers can write
    their own Data Types to generate new types of random data, and even customize the Export Types - i.e. the format in
    which the data is output. For people interested in generating more accurate localized geographical data, they can
    add
    new Country plugins that supply region names (states, provinces, territories etc), city names and postal/zip code
    formats for their country of choice. For more information on all this, visit the Developer Documentation.

    Download
    Click the button below to download the latest version of the script from github. For more information see the User
    Documentation.
  </p>
</span>
