<div class="row col-12 removeMargin homeContent" style="margin-bottom:30px;">
  <!-- <div class="col-md-3 col-sm-4 col-xs-6 removePadding" *ngFor="let i of [1,2,3,4]">
    <mat-card style="margin: 10px;">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->
  <mat-card class="col-md-12">
    <img mat-card-image style="height:20vw;width: 30vw;"
      src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <!-- <mat-card-header>
      <mat-card-title>title</mat-card-title>
      <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Ok</button>
    </mat-card-actions> -->
  </mat-card>
</div>
<div class="row col-12 removeMargin removePadding">
  <div class="col-md-9 homeContent">
    <app-BlogCard [filterFunction]="FilterValue"></app-BlogCard>
  </div>
  <div class="col-md-3 homeContent" style="margin-bottom:30px;">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="col-12" appearance="outline">
          <mat-label class="title">Filter</mat-label>
          <input matInput placeholder="Filter By Title" [(ngModel)]="FilterValue" autocomplete="off">
        </mat-form-field>

        <!-- <mat-divider></mat-divider>
        <mat-card-title class="text-center">Author</mat-card-title>
        <img mat-card-avatar src={{appUser.photoURL}}>
        <mat-card-subtitle class="text-center">{{appUser.name}}</mat-card-subtitle> -->
      </mat-card-content>
    </mat-card>
  </div>

</div>
